@model ProjetoFinal.Models.Pedido

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Pedido</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prazo" class="control-label"></label>
                <input asp-for="Prazo" class="form-control" />
                <span asp-validation-for="Prazo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_Cliente" class="control-label"></label>
                <input asp-for="Id_Cliente" class="form-control" />
                <span asp-validation-for="Id_Cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Codigo_Rastreamento" class="control-label"></label>
                <input asp-for="Codigo_Rastreamento" class="form-control" />
                <span asp-validation-for="Codigo_Rastreamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
